@font-face {
    font-family: 'Poppins';
    src: url('font/PoppinsRegular.woff') format(‘woff’), url('font/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Poppins';
    src: url('font/PoppinsLight.woff') format(‘woff’), url('font/Poppins-Light.ttf') format('truetype');
    font-weight: 300;
}
@font-face {
    font-family: 'Poppins';
    src: url('font/PoppinsMedium.woff') format(‘woff’), url('font/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
}
@font-face {
    font-family: 'Poppins';
    src: url('font/PoppinsBold.woff') format(‘woff’), url('font/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'NanumBarunGothic';
    src: url('font/NanumGothicRegular.woff') format(‘woff’), url('font/NanumGothic-Regular.ttf') format('truetype');
    font-weight: 400;
}
