@charset "UTF-8";
/********************** 변수 **********************/
/********************** 초기화 코드 **********************/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #f9f9f9;
}

body {
  background: #212121;
}

a {
  text-decoration: none;
  color: #f9f9f9;
}

li {
  list-style: none;
}

/**************************** PC ***********************************/
header {
  height: 80px;
  background: #212121;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 156px;
  margin: 0 auto;
  z-index: 99;
}

header .logo_img_container {
  width: 153px;
}

header .logo_img_container img {
  width: 100%;
}

header .mobile_nav_icon {
  display: none;
  padding: 8px 12px;
}

header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  opacity: 0;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-animation: order4-nav 400ms linear forwards;
          animation: order4-nav 400ms linear forwards;
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
}

header .nav li {
  margin-right: 3.5em;
}

header .nav li a {
  padding: 8px 12px;
  cursor: pointer;
}

header .nav li a:hover {
  color: #4aa389;
}

header .nav li:last-child {
  margin-right: 0;
}

.home_wrapper {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home_wrapper .home_article {
  width: 100%;
  font-size: 1.25vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home_wrapper .home_article .home_img_container {
  width: 28.13vw;
  margin-bottom: 0.34em;
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-animation: order3-logo 400ms linear forwards;
          animation: order3-logo 400ms linear forwards;
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
}

.home_wrapper .home_article .home_img_container img {
  width: 100%;
}

.home_wrapper .home_article .mid_line {
  width: 100%;
  height: 2px;
  background: #4aa389;
  position: relative;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-animation: order2-mid-line 400ms linear forwards;
          animation: order2-mid-line 400ms linear forwards;
  -webkit-animation-delay: 1100ms;
          animation-delay: 1100ms;
  z-index: 99;
}

.home_wrapper .home_article .mid_line .scroll_indicator {
  width: 0;
  height: 2.5px;
  background: #da6d75;
  position: relative;
}

.home_wrapper .home_article .mid_line .scroll_indicator_effect {
  position: absolute;
  top: 50%;
  left: -15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #da6d75;
}

.home_wrapper .home_article .ideology {
  margin-top: 0.34em;
  white-space: nowrap;
}

.home_wrapper .home_article .ideology .ideology_green,
.home_wrapper .home_article .ideology .ideology_coral {
  font-weight: 500;
}

.home_wrapper .home_article .ideology .ideology_green {
  color: #4aa389;
}

.home_wrapper .home_article .ideology .ideology_coral {
  color: #da6d75;
}

.home_wrapper .home_article .ideology span {
  opacity: 0;
  -webkit-animation: texts 65ms linear forwards;
          animation: texts 65ms linear forwards;
}

.home_wrapper .home_article .ideology .text_b {
  -webkit-animation-delay: 65ms;
          animation-delay: 65ms;
}

.home_wrapper .home_article .ideology .text_c {
  -webkit-animation-delay: 130ms;
          animation-delay: 130ms;
}

.home_wrapper .home_article .ideology .text_d {
  -webkit-animation-delay: 195ms;
          animation-delay: 195ms;
}

.home_wrapper .home_article .ideology .text_e {
  -webkit-animation-delay: 260ms;
          animation-delay: 260ms;
}

.home_wrapper .home_article .ideology .text_f {
  -webkit-animation-delay: 325ms;
          animation-delay: 325ms;
}

.home_wrapper .home_article .ideology .text_g {
  -webkit-animation-delay: 390ms;
          animation-delay: 390ms;
}

.home_wrapper .home_article .ideology .text_i {
  -webkit-animation-delay: 455ms;
          animation-delay: 455ms;
}

.home_wrapper .home_article .ideology .text_m {
  -webkit-animation-delay: 520ms;
          animation-delay: 520ms;
}

.home_wrapper .home_article .ideology .text_n {
  -webkit-animation-delay: 585ms;
          animation-delay: 585ms;
}

.home_wrapper .home_article .ideology .text_o {
  -webkit-animation-delay: 650ms;
          animation-delay: 650ms;
}

.home_wrapper .home_article .ideology .text_r {
  -webkit-animation-delay: 715ms;
          animation-delay: 715ms;
}

.home_wrapper .home_article .ideology .text_s {
  -webkit-animation-delay: 780ms;
          animation-delay: 780ms;
}

.home_wrapper .home_article .ideology .text_t {
  -webkit-animation-delay: 845ms;
          animation-delay: 845ms;
}

.home_wrapper .home_article .ideology .text_v {
  -webkit-animation-delay: 910ms;
          animation-delay: 910ms;
}

.home_wrapper .home_article .ideology .text_comma {
  -webkit-animation-delay: 975ms;
          animation-delay: 975ms;
}

.home_wrapper .home_article .ideology .text_stop {
  -webkit-animation-delay: 975ms;
          animation-delay: 975ms;
}

.about_wrapper {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about_wrapper .about-title {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.07em;
  width: 1632px;
  padding: 0 24px;
  padding-bottom: 1.5em;
}

.about_wrapper article {
  max-width: 1632px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 24px;
}

.about_wrapper article .about_img_container {
  width: 656px;
}

.about_wrapper article .about_img_container img {
  width: 100%;
}

.about_wrapper article .about_introduce {
  margin-left: 4em;
}

.about_wrapper article .about_introduce .introduce_header {
  white-space: nowrap;
  font-size: 24px;
  margin-bottom: 1.2em;
}

.about_wrapper article .about_introduce .introduce_header .introduce_img_container {
  width: 12vw;
}

.about_wrapper article .about_introduce .introduce_header .introduce_header_title {
  font-weight: 500;
}

.about_wrapper article .about_introduce .introduce_main {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 2.2em;
  line-height: 1.85;
  white-space: nowrap;
}

.about_wrapper article .about_introduce .introduce_work_list {
  font-size: 19px;
  font-weight: 300;
  line-height: 1.85;
  white-space: nowrap;
}

.about_wrapper article .about_introduce .introduce_work_list li br {
  display: none;
}

.work_wrapper {
  pointer-events: none;
}

.work_wrapper article {
  max-height: 100vh;
  overflow: hidden;
  position: relative;
}

.work_wrapper article .slide_item {
  position: relative;
}

.work_wrapper article .slide_item .slide_item_img img {
  width: 100%;
}

.work_wrapper article .slide_item .slide_item_title {
  position: absolute;
  bottom: 50%;
  left: 156px;
  font-size: 4.1vw;
  font-weight: 500;
}

.contact_wrapper {
  padding: 62px 0;
  position: relative;
}

.contact_wrapper .contact_title {
  width: 1458px;
  margin: 1.51em auto;
  padding: 0 24px;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.07em;
}

.contact_wrapper article {
  width: 1458px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 0 24px;
}

.contact_wrapper article .address_wrapper {
  margin-right: 10.25em;
}

.contact_wrapper article .address_wrapper .address_title {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 0.95em;
}

.contact_wrapper article .address_wrapper .address_eng {
  font-size: 14px;
  margin-bottom: 2.57em;
  letter-spacing: 0.7px;
  white-space: nowrap;
}

.contact_wrapper article .address_wrapper .address_eng li:nth-child(2) {
  margin-bottom: 2.57em;
}

.contact_wrapper article .address_wrapper .address_kor {
  font-size: 14px;
  margin-bottom: 3.571em;
  line-height: 1.8;
}

.contact_wrapper article .address_wrapper .address_map {
  max-width: 414px;
}

.contact_wrapper article .address_wrapper .address_map img {
  width: 100%;
}

.contact_wrapper article .contact_how {
  white-space: nowrap;
}

.contact_wrapper article .contact_how .contact_how_title .eng {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 0.8em;
}

.contact_wrapper article .contact_how .contact_how_title .kor {
  font-size: 15px;
  color: #7c7d80;
  line-height: 1.8;
}

.contact_wrapper article .contact_how .contact_how_title .next_sentence {
  margin-bottom: 3.3em;
}

.contact_wrapper article .contact_how .contact_how_title .next_sentence_two {
  margin-bottom: 3em;
}

.contact_wrapper article .contact_how .request_list .top_left,
.contact_wrapper article .contact_how .request_list .bottom_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
}

.contact_wrapper article .contact_how .request_list .top_left li,
.contact_wrapper article .contact_how .request_list .bottom_right li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact_wrapper article .contact_how .request_list .top_left li .check_box,
.contact_wrapper article .contact_how .request_list .bottom_right li .check_box {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 17px;
  height: 17px;
  border: 1.5px solid #7c7d80;
  margin-right: 0.53em;
}

.contact_wrapper article .contact_how .request_list .top_left li .check_box .fa-check,
.contact_wrapper article .contact_how .request_list .bottom_right li .check_box .fa-check {
  color: #4aa389;
}

.contact_wrapper article .contact_how .request_list .top_left {
  margin-bottom: 0.4em;
}

.contact_wrapper article .contact_how .request_list .top_left li:nth-child(1) {
  margin-right: 6.67em;
}

.contact_wrapper article .contact_how .request_list .top_left li:nth-child(2) {
  margin-right: 2.13em;
}

.contact_wrapper article .contact_how .request_list .top_left li:nth-child(3) {
  margin-right: 3.8em;
}

.contact_wrapper article .contact_how .request_list .bottom_right {
  margin-bottom: 11em;
}

.contact_wrapper article .contact_how .request_list .bottom_right li {
  margin-right: 1.2em;
}

.contact_wrapper article .contact_how .email_container {
  font-weight: 500;
}

.contact_wrapper article .contact_how .email_container .email_title {
  font-size: 26px;
}

.contact_wrapper article .contact_how .email_container .email_coral {
  font-size: 22px;
  color: #da6d75;
}

.contact_wrapper article .contact_how .email_container .email_green {
  font-size: 22px;
  color: #4aa389;
}

footer {
  padding: 30px 156px;
  border-top: 1px solid #7c7d80;
}

footer .footer_copyright {
  font-size: 12px;
  text-align: center;
}

/********** animation *********/
@-webkit-keyframes texts {
  100% {
    opacity: 1;
  }
}
@keyframes texts {
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes order2-mid-line {
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes order2-mid-line {
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes order3-logo {
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes order3-logo {
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes order4-nav {
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes order4-nav {
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

/************************* 1600 반응형 *******************************/
@media screen and (max-width: 1600px) {
  .about_wrapper .about-title {
    width: 1276px;
  }
  .about_wrapper article .about_img_container {
    width: 500px;
  }
  .about_wrapper article .about_introduce .introduce_header {
    font-size: 18px;
  }
  .about_wrapper article .about_introduce .introduce_main {
    font-size: 15px;
  }
  .about_wrapper article .about_introduce .introduce_work_list {
    font-size: 15px;
  }
}

/************************* 1460 반응형 *******************************/
@media screen and (max-width: 1460px) {
  .contact_wrapper .contact_title {
    width: 1146px;
  }
  .contact_wrapper article {
    width: 1146px;
  }
  .contact_wrapper article .address_wrapper {
    margin-right: 80px;
  }
  .contact_wrapper article .address_wrapper .address_title {
    font-size: 22px;
  }
  .contact_wrapper article .address_wrapper .address_eng {
    font-size: 12px;
  }
  .contact_wrapper article .address_wrapper .address_kor {
    font-size: 12px;
  }
  .contact_wrapper article .contact_how .contact_how_title .eng {
    font-size: 18px;
  }
  .contact_wrapper article .contact_how .contact_how_title .kor {
    font-size: 13px;
  }
  .contact_wrapper article .contact_how .request_list .top_left,
  .contact_wrapper article .contact_how .request_list .bottom_right {
    font-size: 13px;
  }
  .contact_wrapper article .contact_how .request_list .top_left li .check_box,
  .contact_wrapper article .contact_how .request_list .bottom_right li .check_box {
    width: 15px;
    height: 15px;
  }
  .contact_wrapper article .contact_how .request_list .top_left li .check_box .fa-check,
  .contact_wrapper article .contact_how .request_list .bottom_right li .check_box .fa-check {
    font-size: 12px;
  }
  .contact_wrapper article .contact_how .request_list .bottom_right {
    margin-bottom: 8em;
  }
  .contact_wrapper article .contact_how .email_container .email_title {
    font-size: 22px;
  }
  .contact_wrapper article .contact_how .email_container .email_coral {
    font-size: 18px;
  }
  .contact_wrapper article .contact_how .email_container .email_green {
    font-size: 18px;
  }
}

/************************* 1280 반응형 *******************************/
@media screen and (max-width: 1280px) {
  header {
    padding-left: 24px;
    padding-right: 24px;
  }
  header .logo_img_container {
    width: 136px;
  }
  header .nav {
    font-size: 14px;
  }
  .about_wrapper .about-title {
    font-size: 32px;
    width: 1134px;
  }
  .about_wrapper article .about_img_container {
    width: 447px;
  }
  .about_wrapper article .about_introduce .introduce_header {
    font-size: 15px;
  }
  .about_wrapper article .about_introduce .introduce_main {
    font-size: 13px;
  }
  .about_wrapper article .about_introduce .introduce_work_list {
    font-size: 13px;
  }
  .contact_wrapper .contact_title {
    font-size: 32px;
    width: 1020px;
  }
  .contact_wrapper article {
    width: 1020px;
  }
  .contact_wrapper article .address_wrapper .address_title {
    font-size: 20px;
  }
  .contact_wrapper article .contact_how .contact_how_title .eng {
    font-size: 15px;
  }
  .contact_wrapper article .contact_how .contact_how_title .kor {
    font-size: 12px;
  }
  .contact_wrapper article .contact_how .contact_how_title .next_sentence {
    margin-bottom: 5.3em;
  }
  .contact_wrapper article .contact_how .request_list .top_left,
  .contact_wrapper article .contact_how .request_list .bottom_right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .contact_wrapper article .contact_how .request_list .top_left li,
  .contact_wrapper article .contact_how .request_list .bottom_right li {
    margin-bottom: 8px;
  }
  .contact_wrapper article .contact_how .request_list .bottom_right {
    margin-bottom: 4em;
  }
  .contact_wrapper article .contact_how .email_container .email_title {
    font-size: 20px;
  }
  .contact_wrapper article .contact_how .email_container .email_green {
    font-size: 16px;
  }
  .contact_wrapper article .contact_how .email_container .email_coral {
    font-size: 16px;
  }
  footer {
    padding: 30px 0;
  }
}

/************************* 1200 반응형 *******************************/
@media screen and (max-width: 1200px) {
  .about_wrapper .about-title {
    width: 979px;
  }
  .about_wrapper article .about_img_container {
    width: 380px;
  }
  .about_wrapper article .about_introduce .introduce_header {
    font-size: 13px;
  }
  .about_wrapper article .about_introduce .introduce_main {
    font-size: 11px;
  }
  .about_wrapper article .about_introduce .introduce_work_list {
    font-size: 11px;
  }
}

/************************* 980 반응형 *******************************/
@media screen and (max-width: 980px) {
  header {
    padding-left: 24px;
    padding-right: 24px;
  }
  .home_wrapper .home_article {
    font-size: 2.25vw;
  }
  .home_wrapper .home_article .home_img_container {
    width: 46.13vw;
  }
  .about_wrapper {
    height: 100%;
    padding: 68px 0;
  }
  .about_wrapper .about-title {
    position: static;
    width: 752px;
  }
  .about_wrapper article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: static;
  }
  .about_wrapper article .about_img_container {
    width: 100%;
  }
  .about_wrapper article .about_introduce {
    margin-left: 0;
    margin-top: 2em;
  }
  .about_wrapper article .about_introduce .introduce_header {
    font-size: 18px;
  }
  .about_wrapper article .about_introduce .introduce_header .introduce_img_container {
    width: 30vw;
  }
  .about_wrapper article .about_introduce .introduce_main {
    font-size: 16px;
  }
  .about_wrapper article .about_introduce .introduce_work_list {
    font-size: 16px;
  }
  .work_wrapper {
    height: auto;
  }
  .work_wrapper article .slide_item {
    min-height: auto;
    overflow: hidden;
  }
  .work_wrapper article .slide_item .slide_item_img {
    position: relative;
    width: 100%;
    height: 100vh;
  }
  .work_wrapper article .slide_item .slide_item_img img {
    position: absolute;
    width: auto;
    height: 100%;
  }
  .work_wrapper article .slide_item:nth-child(2) img {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .work_wrapper article .slide_item:nth-child(3) img {
    left: 10%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .work_wrapper article .slide_item:nth-child(4) img {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .work_wrapper article .slide_item:nth-child(5) img {
    left: 0;
  }
  .work_wrapper article .slide_item .slide_item_title {
    bottom: 15%;
    left: 24px;
    font-size: 7.1vw;
  }
  .contact_wrapper {
    padding: 0;
    padding-bottom: 62px;
  }
  .contact_wrapper .contact_title {
    width: 100%;
  }
  .contact_wrapper article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .contact_wrapper article .address_wrapper {
    margin-right: 0;
    margin-bottom: 38px;
  }
  .contact_wrapper article .address_wrapper .address_title {
    font-size: 24px;
  }
  .contact_wrapper article .address_wrapper .address_eng {
    font-size: 14px;
  }
  .contact_wrapper article .address_wrapper .address_kor {
    font-size: 14px;
  }
  .contact_wrapper article .contact_how .contact_how_title .kor {
    font-size: 14px;
  }
  footer {
    padding: 20px 0;
  }
}

/************************* 800 반응형 *******************************/
@media screen and (max-width: 800px) {
  .about_wrapper .about-title {
    width: 756px;
  }
  .work_wrapper article .slide_item:nth-child(5) img {
    width: 100%;
  }
  .work_wrapper article .slide_item .slide_item_img {
    height: 100vh;
  }
}

/************************* 760 반응형 *******************************/
@media screen and (max-width: 760px) {
  header {
    padding-right: 8px;
    padding-left: 20px;
    height: 50px;
  }
  header .logo_img_container {
    width: 116px;
  }
  header .mobile_nav_icon {
    display: block;
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    -webkit-animation: mobile_order4_nav 400ms linear forwards;
            animation: mobile_order4_nav 400ms linear forwards;
    -webkit-animation-delay: 1500ms;
            animation-delay: 1500ms;
  }
  header .mobile_nav_icon div {
    width: 22px;
    height: 3px;
    border-radius: 10px;
    background: #f9f9f9;
    margin-bottom: 3px;
    -webkit-transition: 500ms;
    transition: 500ms;
  }
  header .mobile_nav_icon .top.nav_ani {
    -webkit-transform: rotate(45deg) translate(5%, 140%);
            transform: rotate(45deg) translate(5%, 140%);
  }
  header .mobile_nav_icon .mid.nav_ani {
    width: 0;
  }
  header .mobile_nav_icon .bottom.nav_ani {
    -webkit-transform: rotate(-45deg) translate(20%, -240%);
            transform: rotate(-45deg) translate(20%, -240%);
  }
  header .nav {
    display: none;
    position: absolute;
    right: 12px;
    top: 74px;
    -webkit-animation: none;
            animation: none;
    font-size: 18px;
    text-align: right;
    opacity: 1;
  }
  header .nav li {
    margin-right: 0;
    margin-bottom: 0.7em;
  }
  header .nav li.nav_ani {
    opacity: 0;
    -webkit-transform: translateY(-16px);
            transform: translateY(-16px);
    -webkit-animation: mobile_nav_ani 300ms linear forwards;
            animation: mobile_nav_ani 300ms linear forwards;
  }
  header .nav li:nth-child(2) {
    -webkit-animation-delay: 200ms;
            animation-delay: 200ms;
  }
  header .nav li:nth-child(3) {
    -webkit-animation-delay: 300ms;
            animation-delay: 300ms;
  }
  header .nav li:nth-child(4) {
    -webkit-animation-delay: 400ms;
            animation-delay: 400ms;
  }
  header .nav.nav_ani {
    display: block;
  }
  .home_wrapper .home_article .home_img_container {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  .home_wrapper .home_article .mid_line {
    height: 1px;
  }
  .home_wrapper .home_article .mid_line .scroll_indicator {
    height: 2px;
  }
  .home_wrapper .home_article .mid_line .scroll_indicator_effect {
    width: 8px;
    height: 8px;
  }
  .about_wrapper .about-title {
    width: 704px;
  }
  .about_wrapper article {
    padding: 0 20px;
  }
  .about_wrapper article .about_img_container {
    width: 100%;
  }
  .about_wrapper article .about_introduce {
    margin-left: 0;
    margin-top: 2em;
  }
  .about_wrapper article .about_introduce .introduce_header {
    font-size: 18px;
  }
  .about_wrapper article .about_introduce .introduce_header .introduce_header_title {
    white-space: pre-line;
  }
  .about_wrapper article .about_introduce .introduce_main {
    font-size: 16px;
  }
  .about_wrapper article .about_introduce .introduce_main li {
    white-space: pre-line;
  }
  .about_wrapper article .about_introduce .introduce_main li br {
    display: none;
  }
  .about_wrapper article .about_introduce .introduce_work_list {
    font-size: 16px;
  }
  .about_wrapper article .about_introduce .introduce_work_list li {
    white-space: pre;
  }
  .about_wrapper article .about_introduce .introduce_work_list li br {
    display: inline-block;
  }
  .contact_wrapper article .address_wrapper .address_eng br {
    display: none;
  }
  .contact_wrapper article .address_wrapper .address_eng li {
    white-space: pre-line;
  }
  .contact_wrapper article .address_wrapper .address_map {
    width: 320px;
  }
  .contact_wrapper article .contact_how .contact_how_title br {
    display: none;
  }
  .contact_wrapper article .contact_how .contact_how_title li {
    white-space: pre-line;
  }
  .contact_wrapper article .contact_how .request_list .top_left,
  .contact_wrapper article .contact_how .request_list .bottom_right {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact_wrapper article .contact_how .request_list .top_left li,
  .contact_wrapper article .contact_how .request_list .bottom_right li {
    margin-bottom: 0.54em;
    margin-right: 0 !important;
  }
  @-webkit-keyframes mobile_nav_ani {
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @keyframes mobile_nav_ani {
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @-webkit-keyframes mobile_order4_nav {
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @keyframes mobile_order4_nav {
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
}

/************************* 700 반응형 *******************************/
@media screen and (max-width: 700px) {
  .about_wrapper .about-title {
    width: 100%;
  }
}

/************************* 480 반응형 *******************************/
@media screen and (max-width: 480px) {
  .about_wrapper .about-title {
    font-size: 24px;
  }
  .about_wrapper article .about_introduce .introduce_header {
    font-size: 14px;
  }
  .about_wrapper article .about_introduce .introduce_main {
    font-size: 12px;
  }
  .about_wrapper article .about_introduce .introduce_work_list {
    font-size: 12px;
  }
  .contact_wrapper .contact_title {
    font-size: 24px;
    padding: 0 20px;
  }
  .contact_wrapper article {
    padding: 0 20px;
  }
  .contact_wrapper article .address_wrapper .address_title {
    font-size: 24px;
  }
  .contact_wrapper article .address_wrapper .address_eng {
    font-size: 12px;
  }
  .contact_wrapper article .address_wrapper .address_kor {
    font-size: 12px;
  }
  .contact_wrapper article .contact_how .contact_how_title .eng {
    font-size: 14px;
  }
  .contact_wrapper article .contact_how .contact_how_title .kor {
    font-size: 12px;
  }
  .contact_wrapper article .contact_how .request_list {
    margin-bottom: 30px;
  }
  .contact_wrapper article .contact_how .request_list .top_left,
  .contact_wrapper article .contact_how .request_list .bottom_right {
    font-size: 12px;
  }
  .contact_wrapper article .contact_how .request_list .top_left {
    margin-right: 8px;
  }
  .contact_wrapper article .contact_how .email_container .email_title {
    font-size: 15px;
  }
  .contact_wrapper article .contact_how .email_container .email_coral {
    font-size: 13px;
  }
  .contact_wrapper article .contact_how .email_container .email_green {
    font-size: 13px;
  }
}
/*# sourceMappingURL=index.css.map */