/********************** 변수 **********************/
$logo-green: #4aa389;
$logo-coral: #da6d75;
$darkgray: #212121;
$white: #f9f9f9;
$gray: #7c7d80;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;
$font-extra-bold: 800;
$font-black: 900;

/********************** 초기화 코드 **********************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    font-weight: $font-regular;
    color: $white;
}
body {
    background: $darkgray;
}

a {
    text-decoration: none;
    color: $white;
}

li {
    list-style: none;
}

/**************************** PC ***********************************/

header {
    height: 80px;
    background: $darkgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 156px;
    margin: 0 auto;
    z-index: 99;
    .logo_img_container {
        width: 153px;
        img {
            width: 100%;
        }
    }

    .mobile_nav_icon {
        display: none;
        padding: 8px 12px;
    }

    .nav {
        display: flex;
        align-items: center;
        font-size: 16px;
        opacity: 0;
        transform: translateY(-20px);
        animation: order4-nav 400ms linear forwards;
        animation-delay: 1500ms;

        li {
            margin-right: 3.5em;

            a {
                padding: 8px 12px;

                &:hover {
                    color: $logo-green;
                }
            }
        }

        li:last-child {
            margin-right: 0;
        }
    }
}

.home_wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .home_article {
        width: 100%;
        font-size: 1.25vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        .home_img_container {
            width: 28.13vw;
            margin-bottom: 0.34em;
            opacity: 0;
            transform: translateY(20px);
            animation: order3-logo 400ms linear forwards;
            animation-delay: 1500ms;

            img {
                width: 100%;
            }
        }

        .mid_line {
            width: 100%;
            height: 2px;
            background: $logo-green;
            position: relative;
            transform: translateX(-100%);
            animation: order2-mid-line 400ms linear forwards;
            animation-delay: 1100ms;
            z-index: 99;

            .scroll_indicator {
                width: 0;
                height: 2.5px;
                background: $logo-coral;
                position: relative;
            }
            .scroll_indicator_effect {
                position: absolute;
                top: 50%;
                left: -15px;
                transform: translateY(-50%);
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: $logo-coral;
            }
        }

        .ideology {
            margin-top: 0.34em;
            white-space: nowrap;

            .ideology_green {
                color: $logo-green;
            }

            .ideology_coral {
                color: $logo-coral;
            }

            span {
                opacity: 0;
                animation: texts 65ms linear forwards;
            }

            .text_b {
                animation-delay: 65ms;
            }
            .text_c {
                animation-delay: 130ms;
            }
            .text_d {
                animation-delay: 195ms;
            }
            .text_e {
                animation-delay: 260ms;
            }
            .text_f {
                animation-delay: 325ms;
            }
            .text_g {
                animation-delay: 390ms;
            }
            .text_i {
                animation-delay: 455ms;
            }
            .text_m {
                animation-delay: 520ms;
            }
            .text_n {
                animation-delay: 585ms;
            }
            .text_o {
                animation-delay: 650ms;
            }
            .text_r {
                animation-delay: 715ms;
            }
            .text_s {
                animation-delay: 780ms;
            }
            .text_t {
                animation-delay: 845ms;
            }
            .text_v {
                animation-delay: 910ms;
            }

            .text_comma {
                animation-delay: 975ms;
            }

            .text_stop {
                animation-delay: 975ms;
            }
        }
    }
}

.about_wrapper {
    height: 100vh;
    position: relative;

    .about-title {
        font-size: 40px;
        font-weight: $font-bold;
        letter-spacing: 0.07em;
        width: 1632px;
        padding: 0 24px;
        position: absolute;
        left: 50%;
        top: 15%;
        transform: translate(-50%);
    }

    article {
        max-width: 1632px;
        display: flex;
        padding: 0 24px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .about_img_container {
            width: 656px;
            img {
                width: 100%;
            }
        }
        .about_introduce {
            margin-left: 4em;
            .introduce_header {
                white-space: nowrap;
                font-size: 24px;
                margin-bottom: 1.2em;
                .introduce_img_container {
                    width: 12vw;
                }
                .introduce_header_title {
                    font-weight: $font-medium;
                }
            }

            .introduce_main {
                font-size: 20px;
                font-weight: $font-light;
                margin-bottom: 2.2em;
                line-height: 1.85;
                white-space: nowrap;
            }

            .introduce_work_list {
                margin-left: 20px;
                font-size: 19px;
                font-weight: $font-light;
                line-height: 1.85;
                white-space: nowrap;
                li {
                    list-style: disc outside;
                }
            }
        }
    }
}

.work_wrapper {
    height: 100vh;

    article {
        max-height: 100vh;
        overflow: hidden;
        position: relative;
        .slide_item {
            position: relative;
            min-height: 100vh;

            .slide_item_img {
                position: absolute;
                top: 0;
                img {
                    width: 100%;
                }
            }

            .slide_item_title {
                position: absolute;
                top: 260px;
                left: 156px;
                font-size: 4.1vw;
                font-weight: $font-medium;
            }
        }
    }
}

.contact_wrapper {
    padding: 62px 0;
    position: relative;

    .contact_title {
        width: 1458px;
        margin: 1.51em auto;
        padding: 0 24px;
        font-size: 40px;
        font-weight: $font-bold;
        letter-spacing: 0.07em;
    }
    article {
        width: 1458px;
        display: flex;
        margin: 0 auto;
        padding: 0 24px;

        .address_wrapper {
            margin-right: 10.25em;

            .address_title {
                font-size: 22px;
                font-weight: $font-medium;
                margin-bottom: 0.95em;
            }

            .address_eng {
                font-size: 14px;
                margin-bottom: 2.57em;
                letter-spacing: 0.7px;
                white-space: nowrap;
                li:nth-child(2) {
                    margin-bottom: 1.285em;
                }
            }

            .address_kor {
                font-size: 14px;
                margin-bottom: 2.571em;
                line-height: 1.8;
            }

            .address_map {
                max-width: 414px;
                img {
                    width: 100%;
                }
            }
        }

        .contact_how {
            white-space: nowrap;
            .contact_how_title {
                margin-bottom: 2.25em;
                .eng {
                    font-weight: $font-medium;
                    font-size: 20px;
                    margin-bottom: 0.8em;
                }

                .kor {
                    font-size: 15px;
                    color: $gray;
                    line-height: 1.8;
                }

                .next_sentence {
                    margin-bottom: 4.3em;
                }
            }

            .request_list {
                margin-bottom: 5em;
                .top_left,
                .bottom_right {
                    display: flex;
                    font-size: 15px;
                    li {
                        display: flex;
                        align-items: center;
                        .check_box {
                            display: inline-flex;
                            justify-content: center;
                            align-items: center;
                            width: 17px;
                            height: 17px;
                            border: 1.5px solid $gray;
                            margin-right: 0.53em;
                            .fa-check {
                                color: $logo-green;
                            }
                        }
                    }
                }

                .top_left {
                    margin-bottom: 0.4em;
                    li:nth-child(1) {
                        margin-right: 6.67em;
                    }
                    li:nth-child(2) {
                        margin-right: 2.13em;
                    }
                    li:nth-child(3) {
                        margin-right: 3.8em;
                    }
                }

                .bottom_right {
                    li {
                        margin-right: 1.2em;
                    }
                }
            }

            .email_container {
                font-weight: $font-medium;
                .email_title {
                    font-size: 22px;
                }
                .email_coral {
                    font-size: 18px;
                    color: $logo-coral;
                }
                .email_green {
                    font-size: 18px;
                    color: $logo-green;
                }
            }
        }
    }
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 30px 156px;
    border-top: 1px solid $gray;
    div {
        text-align: center;
        padding: 0 16px;
    }
    .footer_img_container {
        width: 153px;
        img {
            width: 100%;
        }
    }

    .footer_ci {
        font-size: 12px;
        color: $gray;
    }

    .footer_copyright {
        font-size: 12px;
    }
}

/********** animation *********/

@keyframes texts {
    100% {
        opacity: 1;
    }
}

@keyframes order2-mid-line {
    100% {
        transform: translateX(0);
    }
}

@keyframes order3-logo {
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes order4-nav {
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/************************* 1600 반응형 *******************************/
@media screen and (max-width: 1600px) {
    .about_wrapper {
        .about-title {
            width: 1276px;
        }
        article {
            .about_img_container {
                width: 500px;
            }
            .about_introduce {
                .introduce_header {
                    font-size: 18px;
                }
                .introduce_main {
                    font-size: 15px;
                }
                .introduce_work_list {
                    font-size: 15px;
                }
            }
        }
    }
}

/************************* 1460 반응형 *******************************/
@media screen and (max-width: 1460px) {
    .contact_wrapper {
        .contact_title {
            width: 1280px;
        }

        article {
            width: 1270px;
            .address_wrapper {
                margin-right: 100px;
                .address_title {
                    font-size: 22px;
                }
                .address_eng {
                    font-size: 12px;
                }
                .address_kor {
                    font-size: 12px;
                }
            }
            .contact_how {
                .contact_how_title {
                    .eng {
                        font-size: 18px;
                    }
                    .kor {
                        font-size: 13px;
                    }
                }
                .request_list {
                    .top_left,
                    .bottom_right {
                        font-size: 13px;
                        li {
                            .check_box {
                                width: 15px;
                                height: 15px;
                                .fa-check {
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
                .email_container {
                    .email_title {
                        font-size: 20px;
                    }
                    .email_coral {
                        font-size: 16px;
                    }
                    .email_green {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

/************************* 1280 반응형 *******************************/

@media screen and (max-width: 1280px) {
    header {
        padding-left: 24px;
        padding-right: 24px;

        .logo_img_container {
            width: 136px;
        }

        .nav {
            font-size: 14px;
        }
    }

    .about_wrapper {
        .about-title {
            width: 1134px;
        }
        article {
            .about_img_container {
                width: 447px;
            }
            .about_introduce {
                .introduce_header {
                    font-size: 15px;
                }
                .introduce_main {
                    font-size: 13px;
                }

                .introduce_work_list {
                    font-size: 13px;
                }
            }
        }
    }

    footer {
        padding: 30px 0;
        .footer_img_container {
            width: 136px;
        }
    }
}

@media screen and (max-width: 1279px) {
    .contact_wrapper {
        .contact_title {
            width: 100%;
        }
        article {
            flex-direction: column;
            width: 100%;

            .address_wrapper {
                margin-right: 0;
                margin-bottom: 38px;
            }
        }
    }
}

/************************* 1100 반응형 *******************************/
@media screen and (max-width: 1100px) {
    .about_wrapper {
        .about-title {
            width: 979px;
        }
        article {
            .about_img_container {
                width: 380px;
            }
            .about_introduce {
                .introduce_header {
                    font-size: 13px;
                }
                .introduce_main {
                    font-size: 11px;
                }
                .introduce_work_list {
                    font-size: 11px;
                }
            }
        }
    }
}

/************************* 980 반응형 *******************************/
@media screen and (max-width: 980px) {
    header {
        padding-left: 24px;
        padding-right: 24px;
    }

    .home_wrapper {
        .home_article {
            font-size: 2.25vw;

            .home_img_container {
                width: 46.13vw;
            }
        }
    }

    .about_wrapper {
        height: 100%;
        padding: 24px 0;
        .about-title {
            position: static;
            width: 752px;
            margin: 1.7em 0;
            transform: none;
        }
        article {
            flex-direction: column;
            transform: translateX(0);
            position: static;
            .about_img_container {
                width: 100%;
            }
            .about_introduce {
                margin-left: 0;
                margin-top: 2em;
                .introduce_header {
                    font-size: 18px;
                    .introduce_img_container {
                        width: 30vw;
                    }
                }
                .introduce_main {
                    font-size: 16px;
                }
                .introduce_work_list {
                    font-size: 16px;
                }
            }
        }
    }

    .work_wrapper {
        article {
            .slide_item {
                overflow: hidden;
                .slide_item_img {
                    position: relative;
                    width: 100%;
                    height: 1280px;
                    img {
                        position: absolute;
                        width: auto;
                        height: 100%;
                    }
                }
                &:nth-child(2) {
                    img {
                        right: -560px;
                    }
                }
                &:nth-child(3) {
                    img {
                        right: -295px;
                    }
                }
                &:nth-child(4) {
                    img {
                        right: -660px;
                    }
                }
                &:nth-child(5) {
                    img {
                        right: -320px;
                    }
                }

                .slide_item_title {
                    top: 660px;
                    left: 24px;
                    font-size: 7.1vw;
                }
            }
        }
    }

    .contact_wrapper {
        padding: 0;
        padding-bottom: 62px;
        article {
            .address_wrapper {
                .address_title {
                    font-size: 24px;
                }
                .address_eng {
                    font-size: 14px;
                }
                .address_kor {
                    font-size: 14px;
                }
            }
            .contact_how {
                .contact_how_title {
                    .kor {
                        font-size: 14px;
                    }
                }
            }
        }
    }
    footer {
        padding: 20px 0;
        flex-direction: column;
        align-items: center;
        .footer_ci {
            margin: 32px 0;
        }
    }
}

/************************* 768 반응형 *******************************/
@media screen and (max-width: 768px) {
    .about_wrapper {
        .about-title {
            width: 715px;
        }
    }

    .work_wrapper {
        article {
            .slide_item {
                &:nth-child(2) {
                    img {
                        right: -320px;
                    }
                }
                &:nth-child(3) {
                    img {
                        right: -128px;
                    }
                }
                &:nth-child(4) {
                    img {
                        right: -460px;
                    }
                }
                &:nth-child(5) {
                    img {
                        right: -320px;
                    }
                }
                .slide_item_img {
                    height: 1024px;
                }
            }
        }
    }
}

/************************* 640 반응형 *******************************/
@media screen and (max-width: 640px) {
    header {
        padding-right: 12px;
        height: 50px;

        .logo_img_container {
            width: 116px;
        }

        .mobile_nav_icon {
            display: block;
            opacity: 0;
            transform: translateY(-10px);
            animation: mobile_order4_nav 400ms linear forwards;
            animation-delay: 1500ms;

            div {
                width: 22px;
                height: 3px;
                border-radius: 10px;
                background: $white;
                margin-bottom: 3px;
                transition: 500ms;
            }

            .top.nav_ani {
                transform: rotate(45deg) translate(5%, 140%);
            }

            .mid.nav_ani {
                width: 0;
            }

            .bottom.nav_ani {
                transform: rotate(-45deg) translate(20%, -240%);
            }
        }

        .nav {
            display: none;
            position: absolute;
            right: 12px;
            top: 74px;
            animation: none;
            font-size: 18px;
            text-align: right;
            opacity: 1;

            li {
                margin-right: 0;
                margin-bottom: 0.7em;

                &.nav_ani {
                    opacity: 0;
                    transform: translateY(-16px);
                    animation: mobile_nav_ani 300ms linear forwards;
                }

                &:nth-child(2) {
                    animation-delay: 200ms;
                }
                &:nth-child(3) {
                    animation-delay: 300ms;
                }
                &:nth-child(4) {
                    animation-delay: 400ms;
                }
            }

            &.nav_ani {
                display: block;
            }
        }
    }

    .home_wrapper {
        .home_article {
            .home_img_container {
                transform: translateY(10px);
            }
            .mid_line {
                height: 1px;

                .scroll_indicator {
                    height: 2px;
                }
                .scroll_indicator_effect {
                    width: 8px;
                    height: 8px;
                }
            }
        }
    }

    .about_wrapper {
        .about-title {
            width: 592px;
        }
        article {
            .about_img_container {
                width: 100%;
            }
            .about_introduce {
                margin-left: 0;
                margin-top: 2em;
                .introduce_header {
                    font-size: 18px;
                    // .introduce_img_container {
                    //     width: 22vw;
                    // }
                    .introduce_header_title {
                        white-space: pre-line;
                    }
                }
                .introduce_main {
                    font-size: 16px;
                    li {
                        white-space: pre-line;
                        br {
                            display: none;
                        }
                    }
                }
                .introduce_work_list {
                    font-size: 16px;
                    li {
                        white-space: pre-line;
                    }
                }
            }
        }
    }

    .work_wrapper {
        article {
            .slide_item {
                &:nth-child(4) {
                    img {
                        right: -360px;
                    }
                }
                .slide_item_img {
                    height: 640px;
                }
                .slide_item_title {
                    top: 360px;
                }
            }
        }
    }

    .contact_wrapper {
        article {
            .address_wrapper {
                .address_eng {
                    br {
                        display: none;
                    }
                    li {
                        white-space: pre-line;
                    }
                }
                .address_map {
                    width: 320px;
                }
            }
            .contact_how {
                .contact_how_title {
                    br {
                        display: none;
                    }
                    li {
                        white-space: pre-line;
                    }
                }
                .request_list {
                    .top_left,
                    .bottom_right {
                        display: inline-flex;
                        flex-direction: column;
                        li {
                            margin-bottom: 0.54em;
                            margin-right: 0 !important;
                        }
                    }
                }
            }
        }
    }

    @keyframes mobile_nav_ani {
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes mobile_order4_nav {
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

/************************* 480 반응형 *******************************/
@media screen and (max-width: 480px) {
    .about_wrapper {
        .about-title {
            font-size: 24px;
            width: 312px;
        }
        article {
            .about_introduce {
                .introduce_header {
                    font-size: 14px;
                }
                .introduce_main {
                    font-size: 12px;
                }
                .introduce_work_list {
                    font-size: 12px;
                }
            }
        }
    }

    .contact_wrapper {
        .contact_title {
            font-size: 24px;
        }
        article {
            .address_wrapper {
                .address_title {
                    font-size: 20px;
                }

                .address_eng {
                    font-size: 12px;
                }
                .address_kor {
                    font-size: 12px;
                }
            }

            .contact_how {
                .contact_how_title {
                    .eng {
                        font-size: 14px;
                    }
                    .kor {
                        font-size: 12px;
                    }
                }
                .request_list {
                    margin-bottom: 30px;
                    .top_left,
                    .bottom_right {
                        font-size: 12px;
                    }
                }
                .email_container {
                    .email_title {
                        font-size: 15px;
                    }

                    .email_coral {
                        font-size: 13px;
                    }
                    .email_green {
                        font-size: 13px;
                    }
                }
            }
        }
    }

    footer {
        .footer_ci {
            margin: 18px 0;
            white-space: pre-line;
        }
    }
}
